
body{
margin: 0 auto;
height: 100%;     
width: 100%;  
background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.815) 50%, rgb(25, 26, 26) 84%);
background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0.815) 50%, rgb(25, 26, 26) 84%);
background: linear-gradient(180deg, rgba(0, 0, 0, 0.815) 50%, rgb(25, 26, 26) 84%);
}

header{
  background-image: url("headerBrow.jpg");
  background-size: no-repeat;
  background-position: top, left;        
  background-size: cover; 
  height: 450px;
  
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
nav{
    display: none;
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    width: 200px;
    height: 280px;
    margin-bottom: 60px;
    margin-right: -20px;
    animation-duration: 0.55s;  /* Время работы анимации */
    animation-fill-mode: both;  /* Поведение анимации */
    animation-name: fadeInDown; /* Имя анимации */
}
nav.active{
  display: block;
}

@keyframes fadeInDown { /* Сама анимация */
  0% {                /* Старт анимации */
      opacity: 0;
      transform: translate3d(100%, 0px, 0px);
  }
  100% {              /* в финале анимации - финал это заданная 0.55s */
      opacity: 1;
      transform: none;
  }
}
.menu-btn.active span:nth-of-type(1) {
  display: none;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}
.menu-btn {
  margin-right: 2%;
  margin-bottom: 23%;
  cursor: pointer;
  width: 100px;
  height: 30px;
  position: fixed;
  z-index:3;
  overflow: hidden;
  border: 1px solid white;
  border-radius: 0px 10px;
}
.menu-btn span {
  width: 30px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  background-color:white;
  transition: all 0.5s;
}
.menu-btn p{
  padding-left: 5%;
  margin-top: 5px;
  color: #fff;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menu-btn span:nth-of-type(2) {
  top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}

ul{
  list-style-type: none;
  margin-top: 50px;
  line-height: 3;
}
.price{
  margin-left: 25px;
}
.myWorks{
  margin-left: 5px;
}
nav a{
    text-decoration: none;
    font-family: 'opens sans';
    font-weight: 400;
    font-size: 20px;
    color: white;
    
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
a:hover{
    background-size: 100% 2px;
}

.logo{
    font-size: 45px;
    cursor: pointer;
    font-weight: 900;
    
    margin-right: 65%;
    margin-top: -300px;
    color: #ECD8BD;
    filter: 
    drop-shadow(3px 3px 5px);
}

#signUp{
    margin-top: 20px;
    margin-left: -20px;
    border-radius: 30px;
    width: 151px;
    height: 40px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(33, 33, 33, 0.5);
    border: none;
    
    color: white;
    cursor: pointer;
}

#signUp:hover{
  -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2) inset;
}

.paragraph{
    font-family: 'opens sans';
    position: absolute;
    font-size: 22px;
    margin-top: 235px;
    margin-right: 69%;
    color: #ECD8BD;
    width: 350px;
}

/*              ВСПЛЫВАЮЩЕЕ ОКНО                  */
.modal {
  display: none;
  position: fixed;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  width: 200px;
  height: 280px;
  margin-bottom: 60px;
  margin-right: -20px;
  animation-duration: 0.55s;  /* Время работы анимации */
  animation-fill-mode: both;  /* Поведение анимации */
  animation-name: modalInDown; /* Имя анимации */
}
@keyframes modalInDown { /* Сама анимация */
  0% {                /* Старт анимации */
      opacity: 0;
      transform: translate3d(100%, 0px, 0px);
  }
  100% {              /* в финале анимации - финал это заданная 1s */
      opacity: 1;
      transform: none;
  }
}
.modal.active{
  display: block;
}
.modal-content p{
  margin-top: 70px;
  margin-left: -7px;
  font-weight: 800;
  font-family: 'opens sans';
  font-size: 25px;
  color: white;
  text-align: center;
}
.modal-content p b{
  color: #ECD8BD;

}
a img{
  margin-top: 10px;
  transition: 1s;
  margin: 10px;
}
.modal-content img:hover{
  transform: scale(1.7);
}
#back{
position: absolute;   
margin-left: 62%;
margin-top: -69px;
cursor: pointer;
font-size: 17px;
text-decoration:underline;
font-family: 'Poppins';
}    

/*-----------------MAIN-----------------*/ 

.container{
    width: 100%;
}

.about__My{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10px 70px 70px 80px;
  justify-content: center;
  margin-top: 5%;
}
.about__My img{
  margin-top: 3%;
  margin-left: 2%;
  border-radius: 10px;
  -webkit-box-shadow: -1px 0px 13px -3px rgba(10, 14, 17, 0.73);
  -moz-box-shadow: -1px 0px 13px -3px rgba(10, 14, 17, 0.73);
  box-shadow: -1px 0px 13px -3px rgba(10, 14, 17, 0.73);
}
.about__My p{
  color: #ECD8BD;
  font-size: 22px;
  font-family: 'opens sans';
  margin-left: 40%;
}


swiper-slide img{
    margin-left: -10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}


swiper-slide h1{
    font-family: 'opens sans';
    font-size: 25px;
    color: #ECD8BD;
    text-align: center;
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 10px;
}

swiper-slide p{
  font-weight: 200;
    text-align: center;
    font-family: 'opens sans';
    color: white;
    font-size: 18px;
    margin-top: 10px;
    line-height: 5%;
}

swiper-slide h2{
  text-align: center;
  font-size: 25px;
  font-family: 'opens sans';
  color: white;
}

h2::after{
    content: ' \20BD';
}
swiper-container {
  width: 300px;
  height: 580px;
  margin-top: 100px;
}

swiper-slide {
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  -webkit-box-shadow: 1px -2px 18px -6px rgba(255, 255, 255, 0.89);
  -moz-box-shadow: 1px -2px 18px -6px rgba(255, 255, 255, 0.89);
  box-shadow: 1px -2px 18px -6px rgba(255, 255, 255, 0.89);
}

swiper-slide:nth-child(1n) {
  background-color: #7f7d7d;
}


swiper-slide:nth-child(2n) {
  background-color: #7f7d7d;
}

swiper-slide:nth-child(3n) {
  background-color: #7f7d7d; 
}
swiper-slide:nth-child(4n) {
  background-color: #7f7d7d;
}

swiper-slide:nth-child(5n) {
  background-color: #7f7d7d;
}

swiper-slide:nth-child(6n) {
  background-color: #7f7d7d;
}
swiper-slide:nth-child(7n) {
  background-color: #7f7d7d;
}

swiper-slide:nth-child(8n) {
  background-color: #7f7d7d;
}
.mediaPrice{
  display: none;
}

/*         МОИ РАБОТЫ                   */
main .portfolio h1{
  color: #ECD8BD;
  text-align: center;
  margin-top: 100px;
  font-weight: 200;
}
.swiper{
  margin-top: 50px;
  width: 42.5%;
  border-radius: 20px;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.color{
  background-color: #7f7d7d;  /* ДЛЯ JS */
}
.swiper-slide img {
  margin-left: 35px;
  display: block;
  object-fit: cover;
  border-radius: 10px;
  -webkit-box-shadow: 1px -2px 18px -6px rgba(255, 255, 255, 0.89);
  -moz-box-shadow: 1px -2px 18px -6px rgba(255, 255, 255, 0.89);
  box-shadow: 1px -2px 18px -6px rgba(255, 255, 255, 0.89);
}
.swiper-button-prev{
  --swiper-navigation-sides-offset: 1px;
  --swiper-navigation-size: 50px;
  --swiper-theme-color: #ECD8BD;
}
.swiper-button-next{
  --swiper-navigation-sides-offset: 1px;
  --swiper-navigation-size: 50px;
  --swiper-theme-color: #ECD8BD;
}
.swiper-pagination-bullet {
  --swiper-pagination-bullet-width: 20px;
  --swiper-pagination-bullet-height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 20px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #000;
  --swiper-theme-color: #ECD8BD;
}

.media__content{
  display: none;
}
.media__footer{
  display: none;
}


  /*               FOOTER             */

  .footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(25, 26, 26);
    width: 100%;
    height: 120px;
    margin-top: 50px;
  }
  .phoneText{
    color: white;
    position: absolute;
    margin-right: 78%;
    margin-top: 8%;
    font-size: 25px;
  }
  .vk{
    text-decoration: none;
    color: white;
    position: absolute;
    margin-right: 27%;
    margin-top: 6%;
    font-size: 25px;
  }
  .inst{
    text-decoration: none;
    color: white;
    position: absolute;
    margin-left: 23%;
    margin-top: 6%;
    font-size: 25px;
  }
  .telegramm{
    text-decoration: none;
    color: white;
    position: absolute;
    margin-left: 75%;
    margin-top: 6%;
    font-size: 25px;
  }
     /*---------------MEDIA-------------*/

@media only screen and (max-width:1200px){ /*------ГОТОВО-------*/
  .logo{
    margin-right: 55%;
  }
  .menu-btn{
    margin-right: 1%;
    margin-bottom: 30%;
  }
  .paragraph{
    margin-right: 60%;
  }
  .about__My p{
    margin-left: 45%;
  }
  .swiper{
    width: 56%;
  }
}

@media only screen and (max-width:992px){/*-------ГОТОВО--------*/
  header{
    width: 100vw;
  }
  .logo{
    margin-right: 45%;
  }
  .paragraph{
    margin-right: 52%;
  }
  .menu-btn{
    margin-bottom: 32%;
  }
  .about__My img{
    margin-left: 20%;
    margin-bottom: 5%;
  }
  .about__My{
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin-top: 5%;
  }
  .about__My p{
    width: 90%;
    margin-left: 11%;
    margin-top: 5px;
  }
  .about__My p:nth-child(6n){
    display: none;
  }
  .about__My p:nth-child(5n){
    display: none;
  }

  .about__My p:nth-child(7n){
    display: none;
  }
  .about__My p:nth-child(4n){
    position: absolute;
    margin-top: 75%;
    margin-left: 22%;
    padding-top: 5%;
    width: 60%;
  }
  .line{
    border: 1px solid white;
    margin-left: -20%;
    width: 142%;
  }
  .mediaPrice{
    display: block;
    width: 60%;
    margin-left: 25%;
    margin-top: 8%;
    color: #ECD8BD;
    font-size: 22px;
    font-family: 'opens sans';
  }
  swiper-slide{
    margin-top: 15%;
  }
  .swiper{
    width: 80%;
  }
  .swiper-slide img{
    margin-left: -1px;
    display: block;
    width: 100%;
  }
  
  .swiper-button-next, .swiper-button-prev {
    --swiper-navigation-top-offset: 110%;
  }
  .media__footer{
    display: block;
    color: #ECD8BD;
    text-align: center;
    font-size: 22px;
    font-family: 'opens sans';
    width: 75%;
    margin-top: 5%;
    margin-left: 13%;
  }
  .phoneText{
    font-size: 13px;
  }
  .vk{
    font-size: 15px;
    margin-left: -1%;
  }
  .inst{
    font-size: 15px;
   
  }
  .telegramm{
    font-size: 15px;
    
  }
}

@media only screen and (max-width:768px){
  .menu-btn{
    margin-bottom: 35%;
  }
}

@media only screen and (max-width:480px){  /*----ГОТОВО------*/
  header{
    width: 154%;
  }
  .logo{
    margin-right: 40%;
    margin-bottom: 13%;
    font-size: 35px;
  }
  .menu-btn{
    margin-bottom: 65%;
    border: none;
  }
  .menu-btn p{
    display: none;
  }
  .nav{
    margin-bottom: 25%;
  }
  .modal{
    margin-bottom: 100px;
  }
  .paragraph{
    margin-right: 52%;
    margin-top: 90%;
  }
  .container{
    padding-left: 20%;
  }
  .about__My{
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin-top: 5%;
  }
  .about__My img{
    margin-left: 5%;
    width: 400px;
    height: 400px;
  }
  .about__My p{
    width: 90%;
    margin-left: 11%;
    margin-top: 5px;
  }
  .about__My p:nth-child(6n){
    display: none;
  }
  .about__My p:nth-child(5n){
    display: none;
  }

  .about__My p:nth-child(7n){
    display: none;
  }
  .about__My p:nth-child(4n){
    border: none;
    position: absolute;
    width: 90%;
    margin-top: 20vh;
    text-align: start;
    margin-left: 10%;
  }
  .line{
    border: 1px solid white;
    margin-left: -20%;
    width: 148%;
  }
  swiper-container{
    margin-top: 30%;
  }
  .mediaPrice{
    width: 85%;
    margin-left: 10%;
    margin-top: 15%;
    color: #ECD8BD;
    font-size: 22px;
    font-family: 'opens sans';
  }
  .portfolio{
    margin-left: 50px;
  }
  .media__footer{
    display: grid;
    color: #ECD8BD;
    font-size: 22px;
    font-family: 'opens sans';
    width: 90%;
    margin-top: 25%;
    margin-left: 12%;
  }
  .swiper{
    width: 100%;
  }
  .swiper-slide img{
    margin-left: -1px;
    display: block;
    width: 100%;
  }
  
  .swiper-button-next, .swiper-button-prev {
    --swiper-navigation-top-offset: 110%;
  }
  .footer{
    width: 150%;
  }
  .phone__footer{
    margin-left: 10px;
  }
  .phoneText{
    font-size: 13px;
    width: 120px;
    padding-right: 30%;
    margin-top: 20%;
  }
  .vk{
    font-size: 15px;
    width: 120px;
    margin-left: 4%;
    margin-top: 16%;
  }
  .inst{
    font-size: 15px;
    width: 120px;
    margin-left: 40%;
    margin-top: 16%;
  }
  .telegramm{
    font-size: 15px;
    width: 120px;
    margin-left: 100%;
    margin-right: -20%;
    margin-top: 16%;
  }
  .mape{
    width: 154%;
  }
}

@media only screen and (max-width:320px){ /*-------ГОТОВО------*/
  header{
    width: 170%;
  }
  .logo{
    margin-right: 37%;
    margin-bottom: 13%;
    font-size: 35px;
  }
  .menu-btn{
    margin-bottom: 69%;
    border: none;
  }
  .menu-btn p{
    display: none;
  }
  .nav{
    margin-bottom: 25%;
  }
  .modal{
    margin-bottom: 100px;
  }
  .paragraph{
    margin-right: 52%;
    margin-top: 90%;
  }
  .container{
    padding-left: 27%;
  }
  .about__My{
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin-top: 5%;
  }
  .about__My img{
    margin-left: 5%;
    width: 400px;
    height: 400px;
  }
  .about__My p{
    width: 90%;
    margin-left: 11%;
    margin-top: 5px;
  }
  .about__My p:nth-child(6n){
    display: none;
  }
  .about__My p:nth-child(5n){
    display: none;
  }

  .about__My p:nth-child(7n){
    display: none;
  }
  .about__My p:nth-child(4n){
    border: none;
    position: absolute;
    margin-top: 190%;
    text-align: start;
    margin-left: 3%;
    width: 110%;
  }
  .line{
    border: 1px solid white;
    margin-left: -20%;
    width: 142%;
  }
  swiper-container{
    margin-top: 50%;
    margin-left: 3%;
  }
  .mediaPrice{
    width: 100%;
    margin-left: 3%;
    color: #ECD8BD;
    font-size: 22px;
    font-family: 'opens sans';
  }
  .portfolio{
    margin-left: 50px;
  }
  .media__footer{
    color: #ECD8BD;
    font-size: 22px;
    font-family: 'opens sans';
    width: 120%;
    margin-top: 25%;
    margin-left: 3%;
  }
  .swiper{
    width: 100%;
  }
  .swiper-slide img{
    margin-left: -1px;
    display: block;
    width: 100%;
  }
  
  .swiper-button-next, .swiper-button-prev {
    --swiper-navigation-top-offset: 110%;
  }
  .footer{
    width: 168%;
  }
  .phone__footer{
    margin-left: 10px;
  }
  .phoneText{
    font-size: 13px;
    width: 120px;
    padding-right: 39%;
    margin-top: 20%;
  }
  .vk{
    font-size: 15px;
    width: 120px;
    margin-left: 2%;
    margin-top: 16%;
  }
  .inst{
    font-size: 15px;
    width: 120px;
    margin-left: 45%;
    margin-top: 16%;
  }
  .telegramm{
    font-size: 15px;
    width: 120px;
    margin-left: 100%;
    margin-right: -35%;
    margin-top: 16%;
  }
  .mape{
    width: 170%;
  }
}